.Laa{
  color: #8064a2;
  font-weight: 600;
  font-size: 22px;
}



.bgnav{
  background-color: #f9f7d3
  ;
}

.bgnav .Logo img{
  height: 50px;
  object-fit: cover;
}

 .navl p {
  font-family: 'Cinzel', serif;
  color: #8064a2;
 }


/*
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

Inicio

*/

.logoi img{
  width: 300px;
  height: 200px;
}

.bginicio{
  background-color: #cbe7f1;
}

.lassa h1{
  color: #961293;
  font-weight: bolder;
  font-size: 80px;
}

.lassa .nameL{
  color: #8064a2;
  font-weight: 500;
}

.lassa a{
  background-color: #c7b470;
  margin-bottom: 20px;
}

.lassa button{
  background-color: #c7b470;
  margin-bottom: 10px;
}

.icon-inner{
  margin-top: 50px;
}


.normas h6{
  margin-top: -5px;
}

.normas p{
  margin-top: -10px;
}

.normas h5{
  color: #8064a2;
}

.normas h2{
  color: #c7b470;
}

.normas .flecha p{
  margin-top: -6px;
}

.normas .check p{
  padding-left: 10px;
  margin-top: -4px;
}

.servicios img{
  margin: 0 50px;
  height: 180px;
  width: 180px;
  object-fit: cover;
}

.ourservice h2{
  color: black;
}

.servicios h3{
  color: #8064a2;
}

header .lassabtn:hover{
  transition: .8s;
  background-color: #8064a2;
  color: #c7b470;
}


@media (min-width: 750px) and (max-width: 1350px){
  .servicios img{
    height: 130px;
    width: 130px;
    object-fit: cover;
  }

  .servicios h3{
    font-size: 18px;
  }
}

/*
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

Muestreo y analisis

*/

#top .bgMyA{
  background-color: #cbe7f1;
}

.bgMyA h2{
  color: #8064a2;
}

/*
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

Seguridad y Salud

*/

.fotobg{
  background-image: url(/src/images/seguridadbg.png);
}

.fotobg h5{
  font-weight: 700;
  font-size: 1.5rem;
}

.fotobg ul{
  color: #434343;
}

.encabezadosys{
  padding-left: 550px;
}

.securitynorm h4{
  color: #8064a2;
  font-weight: 700;
}

@media (min-width: 750px) and (max-width: 1350px){
  .encabezadosys{
    padding-left: 250px ;
  }
}

@media (min-width: 350px) and (max-width: 749px){
  .encabezadosys{
    padding-left: 40px ;
  }
}



/*
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

Servicio medico

*/

.encabezado .bdSM{
  background-color: #cbe7f1;
}

.encabezado h2{
  font-weight: 700;
  color: #8064a2;
}

.carta{
  max-width: 28rem;
  float: right;
  margin-top: 50px;
}


.bgmdc{
  background-color: #cbe7f1;
}

.imgcovid img{
  float: right;
}

.covid p{
  margin-top: -15px;
}


/*
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

Nosotros 

*/


#nosotros h1{
  color: #8064a2;
}

.MyV h2{
  color: #8064a2;
}

.MyV p{
  color: #cbe7f1;
}

#valores .allvalors{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
} 

/*
#valores .allvalors{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/

#valores .ourvalors .icono {
  margin-bottom: -25px; /* ajusta la posición vertical del icono */
  font-size: 1rem; /* ajusta el tamaño del icono */
}

#valores .ourvalors p {
  font-size: 2rem; /* ajusta el tamaño del texto */
  margin-bottom: 0; /* elimina el margen inferior del texto */
  padding-left: 10px;
  padding-right: 20px;
  text-align: center;
}


/*
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

Contacto

*/

.formulario h4{
  color: #8064a2;
  font-size: 2.2rem;
  font-weight: 600;
  
}

input, select, option, textarea {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid black;
  margin: 5px 0px;
  opacity: 0.5;
}
input:hover, input:focus, select:hover, select:focus, option:hover, option:focus, textarea:hover, textarea:focus {
  opacity: 1;
  color: black;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
  max-height: 250px;
}

button {
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 10px 20px;
  margin: 5px 0px;
  color: black;
  font-size: 16px;
  font-weight: 650;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0.7;
  transition: .5s;
  background-color: #c7b470;
}
button:hover {
  opacity: 1;
  background-color: #8064a2;
  color: #c7b470;
}

.my-form {
  color: #060a01;
}

.my-form button{
  border-radius: 15%;
}

.my-form .form-control {
  border-radius: 0;
}

.follow-us-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.follow-us-container .follow-us {
  font-size: 32px;
  color: #060a01;
}
.follow-us-container .social-icon {
  padding: 6px 6px;
  font-size: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
  border: 2px solid #777777;
  border-radius: 30%;
  color: #777;
  margin: 5px;
}
.follow-us-container .social-icon .social-icon:hover {
  text-decoration: none;
  color: #060a01;
  border-color: #434343;
}

.googlemap{
  width: 600px;
  height: 450px;
}

@media (max-width: 750px) {
  .googlemap{
    width: 350px;
    height: 200px;
    
  }

  .my-form h4 {
    padding-top: 20px;
  }
}

@media (min-width: 750px) and (max-width: 1200px){
  .my-form h4 {
    padding-top: 20px;
  }
}


/*
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

Estudios y Proyectos Ambientales

*/

.EyP .bgEyP{
  background-color: #a9d08e;
}

@media (min-width: 1000px){
  .proyectos ul{
    padding: 0 120px;
  }

  .serviciosp{
    padding: 0 120px;
  }
}

/*
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

Proteccion civil

*/


.pcbg{
  background-image: url(/src/images/incendio.png);
}



/*
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

Ambiental

*/

#ambiental .bgambiental{
  background-color: #a9d08e;
}



/*
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

Footer

*/

.bgfot{
  background-color: #dddddd;
}

.lab h4{
  color: #8064a2;
}

.jesus h5{
  color: #5F5F5F;
}

.vane{
  color: #777777
}

.yuli{
  color: #8064a2;
}

.table-row td {
  border-bottom: 1px solid black;
}

@media (min-width: 1100px){
  .contactanos ul{
    padding-left: 120px;
  }
}